#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#SPDX-License-Identifier: BSD-3-Clause-Clear

type aios_proxy, domain, coredomain;
type aios_proxy_exec, system_file_type, exec_type, file_type;
init_daemon_domain(aios_proxy);

allow aios_proxy self:netlink_route_socket { create read write nlmsg_read };
