# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

#Allow read access to vendor_sys_gpp_prop
get_prop(bootanim, vendor_sys_gpp_prop)