# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type vendor_imsvtdaemon, domain, coredomain;
type vendor_imsvtdaemon_exec, exec_type, system_file_type, file_type;

#Allow for transition from init domain to vendor_imsvtdaemon
init_daemon_domain(vendor_imsvtdaemon);

allow vendor_imsvtdaemon vendor_imsvtdaemon:file { getattr };

hwbinder_use(vendor_imsvtdaemon);
get_prop(vendor_imsvtdaemon, hwservicemanager_prop);

userdebug_or_eng(`
    hal_client_domain( vendor_imsvtdaemon, vendor_hal_diaghal);
')
crash_dump_fallback(vendor_imsvtdaemon);

allow vendor_imsvtdaemon mediaserver_service:service_manager find;
allow vendor_imsvtdaemon mediametrics_service:service_manager find;
allow vendor_imsvtdaemon media_quality_service:service_manager find;
binder_call(vendor_imsvtdaemon, mediametrics);
binder_call(vendor_imsvtdaemon, cameraserver);
binder_call(vendor_imsvtdaemon, mediaserver);
binder_call(vendor_imsvtdaemon, surfaceflinger);
binder_call(vendor_imsvtdaemon, priv_app);
binder_call(vendor_imsvtdaemon, system_server);

get_prop(vendor_imsvtdaemon, vendor_sys_ims_prop);
hal_client_domain(vendor_imsvtdaemon , vendor_hal_imsrtphal);
hal_client_domain(vendor_imsvtdaemon, hal_codec2);
hal_client_domain(vendor_imsvtdaemon, hal_allocator);
hal_client_domain(vendor_imsvtdaemon, hal_graphics_allocator);

binder_use(vendor_imsvtdaemon);
binder_call(vendor_hal_imsvthal_client, vendor_hal_imsvthal_server);
binder_call(vendor_hal_imsvthal_server, vendor_hal_imsvthal_client);
hal_attribute_service(vendor_hal_imsvthal, vendor_hal_imsvt_service);
hal_server_domain(vendor_imsvtdaemon, vendor_hal_imsvthal);

allow vendor_imsvtdaemon dmabuf_system_heap_device:chr_file r_file_perms;

dontaudit vendor_imsvtdaemon default_android_service:service_manager find;
dontaudit vendor_imsvtdaemon package_native_service:service_manager find;
dontaudit vendor_imsvtdaemon vendor_sys_gpp_prop:file r_file_perms;
