#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#SPDX-License-Identifier: BSD-3-Clause-Clear

type vendor_nfc_cfg_service, domain, coredomain;
type vendor_nfc_cfg_service_exec, system_file_type, exec_type, file_type;

init_daemon_domain(vendor_nfc_cfg_service);
allow vendor_nfc_cfg_service nfc_device:chr_file { getattr };
set_prop(vendor_nfc_cfg_service, nfc_prop);
userdebug_or_eng(`
  allow vendor_nfc_cfg_service kmsg_debug_device:chr_file { write open };
')
