# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# Allow priv_app_36 to be a client of IMS VT Daemon HAL
hal_client_domain(priv_app_36 , vendor_hal_imsvthal);

# allow priv_app_36 to be a client of unsigned Hexlp service
hal_client_domain(priv_app_36, vendor_hal_unsignedhexlp)

# Allow priv_app_36 to be a client of C2PA HAL
hal_client_domain(priv_app_36, vendor_hal_c2pa);
