# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

qesdk_app_access(untrusted_app_34);
hal_client_domain(untrusted_app_34, vendor_hal_qspmhal)

# allow app to be a client of DSP HAL
hal_client_domain(untrusted_app_34, vendor_hal_dspmanager)

# allow 3-pty process access to snapx aidl
hal_client_domain(untrusted_app_34, vendor_hal_snapx_service_qti)

# allow 3rd party app to access unsigned Hexlp service
hal_client_domain(untrusted_app_34, vendor_hal_unsignedhexlp)

# Allow access to FDs owned by Hexlp service
allow untrusted_app_34 vendor_hal_hexlp_server:fd use;

