#Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

allow init vendor_vm_qti_system_file:dir mounton;
allow init vendor_vm_qti_system_file:file r_file_perms;
allow init vendor_vm_qti_system_file:dir { getattr search read };
