r_dir_file(healthd, sysfs_battery_supply)
r_dir_file(healthd, sysfs_usb_supply)
r_dir_file(healthd, sysfs_thermal);
allow healthd alarm_device:chr_file rw_file_perms;
allow healthd rtc_device:chr_file r_file_perms;
