# Allow keystore to operate using qseecom_device
allow keystore tee_device:chr_file rw_file_perms;

# Allow keystore to search and get keymaste.mdt
allow keystore firmware_file:dir search;
allow keystore firmware_file:file { read getattr open };
