# Allow keystore to operate using qseecom_device
allow keystore tee_device:chr_file rw_file_perms;

# Allow keystore to search and get keymaste.mdt
r_dir_file(keystore, firmware_file)
