#integrated process
type mmi, domain;
type mmi_exec, exec_type, file_type;

#started by init
init_daemon_domain(mmi)

#self capability
allow mmi self:capability { sys_nice dac_override };
allow mmi self:capability2 block_suspend;

#For various devices
allow mmi device:dir { read open };
allow mmi graphics_device:chr_file rw_file_perms;
allow mmi graphics_device:dir search;
allow mmi input_device:chr_file r_file_perms;
allow mmi input_device:dir { r_file_perms search };
allow mmi nfc_device:chr_file rw_file_perms;
allow mmi shell_exec:file rx_file_perms;
allow mmi sysfs_wake_lock:file rw_file_perms;
allow mmi sysfs:file { append write };
allow mmi system_data_file:dir rw_file_perms;
allow mmi system_file:file execute_no_trans;
allow mmi block_device:dir search;
allow mmi bluetooth_data_file:dir rw_file_perms;
allow mmi bluetooth_data_file:file rw_file_perms;
allow mmi bluetooth_prop:property_service set;
allow mmi hci_attach_dev:chr_file { read write ioctl open };
allow mmi mmi_data_file:file create;
allow mmi persist_file:dir search;
allow mmi self:capability { setuid setgid };
allow mmi smd_device:chr_file { read write ioctl open };

#FTM_AP folder permissions
allow mmi mmi_data_file:dir rw_dir_perms;
allow mmi mmi_data_file:file rw_file_perms;

#socket
unix_socket_connect(mmi, property, init)

#allow mmi set system prop
allow mmi powerctl_prop:property_service set;

#allow mmi operation on MISC partition
allow mmi misc_partition:blk_file w_file_perms;
