#Policies for IPv6 tethering
allow netd netd:capability { setgid setuid };
allow netd netd:packet_socket { create bind setopt read ioctl };

# See change I4dd0326110c655fcd6cd5f8425be523d9e64ffa7 to system/netd
type_transition netd wifi_data_file:dir wpa_socket "sockets";
allow netd wpa_socket:dir create_dir_perms;

dontaudit netd self:capability sys_module;

#needed for ipt_TCPMSS and ip6t_TCPMSS
allow netd kernel:system module_request;
unix_socket_connect(netd, cnd, cnd)
