# IMS needs permission to use avtimer
allow radio avtimer_device:chr_file r_file_perms;

allow radio { cameraserver_service mediaextractor_service mediacodec_service }:service_manager find;
#diag
userdebug_or_eng(`
    diag_use(radio)
')

binder_call(radio, hal_imsrtp)
allow radio hal_imsrtp_hwservice:hwservice_manager find;
