# Allow socket communication with perfd
unix_socket_send(hal_audio, mpctl, perfd)
unix_socket_connect(hal_audio, mpctl, perfd)

# Allow socket creation for audio arbitration
allow hal_audio audio_data_file:sock_file { create setattr unlink };
allow hal_audio audio_data_file:dir remove_name;
