# Allow netfilter_socket creation
allow ipacm self:netlink_netfilter_socket create_socket_perms_no_ioctl;

allow ipacm ipacm_data_file:dir w_dir_perms;
allow ipacm ipacm_data_file:file create_file_perms;
