binder_use(mm-qcamerad)

# /data/cam_socket*
type_transition mm-qcamerad system_data_root_file:sock_file camera_socket "cam_socket0";
type_transition mm-qcamerad system_data_root_file:sock_file camera_socket "cam_socket1";
type_transition mm-qcamerad system_data_root_file:sock_file camera_socket "cam_socket2";
allow mm-qcamerad camera_socket:sock_file { create unlink write };
allow mm-qcamerad camera_data_file:sock_file { create unlink };
allow mm-qcamerad system_data_root_file:dir w_dir_perms;

allow mm-qcamerad system_server:unix_stream_socket rw_socket_perms;
allow mm-qcamerad sensorservice_service:service_manager find;

# /data/fdAlbum
type_transition mm-qcamerad system_data_root_file:file camera_data_file "fdAlbum";
allow mm-qcamerad camera_data_file:file create_file_perms;

r_dir_file(mm-qcamerad, sysfs_graphics)
