allow mpdecision cgroup:file r_file_perms;
allow mpdecision sysfs_kgsl:file rw_file_perms;
allow mpdecision sysfs_runtime_status:file r_file_perms;

get_prop(mpdecision, freq_prop)

r_dir_file(mpdecision, hal_power_default)
