binder_use(qseeproxy)
binder_service(qseeproxy)

allow qseeproxy binder_qseeproxy_service:service_manager add;

allow qseeproxy system_app:unix_dgram_socket sendto;
