typeattribute vendor_fm_app coredomain;
app_domain(vendor_fm_app)

hal_client_domain(vendor_fm_app, vendor_hal_fm);

binder_call(vendor_fm_app, gpuservice)

allow vendor_fm_app app_api_service:service_manager find;
allow vendor_fm_app audioserver_service:service_manager find;
allow vendor_fm_app mediametrics_service:service_manager find;
allow vendor_fm_app mediaserver_service:service_manager find;
allow vendor_fm_app radio_service:service_manager find;
