# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

get_prop(dumpstate,vendor_sys_bugreport_cpuinfo_disable)
binder_call(dumpstate, virtualizationservice)
